body, html {
  padding: 30px 30px;
  color: white;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  font-size: 2.2rem;
}
p {
  font-size: 1.5rem;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial;
  font-size: 1.25rem;
}
th, td {
  border: 1px solid #444;
  padding: 10px;
}
th {
  font-weight: 1000;
}
td:nth-child(1), th:nth-child(1) {
  text-align: left;
}
td:nth-child(2), th:nth-child(2) {
  text-align: center;
}
td:nth-child(3), th:nth-child(3) {
  text-align: right;
}

.image-container {
  text-align: center;
}
.image-container img {
  max-width: 100%;
  height: auto;
}