body, html {
    padding: 30px 30px;
    color: white;
}
h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 2.2rem;
}
p {
    font-size: 1.2rem;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
}
.project-description ul {
    font-size: 1.1rem;
}
.repo-link {
    font-size: 1.5rem;
    font-weight: 700;
    color: #007acc;
    border-bottom: 2px solid transparent;
}
.repo-link:hover {
    border-color: #007acc;
}
.project-video {
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 800px;
    height: auto;
}
